.container {
    background-color: #F3F2EF;
    height: 100vh;
    padding-top: 50px;
}

.subContainer {
    background: #FFFF;
    border-radius: 8px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .containerModal {
    background-color: #FFF;
    height: 440px;
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }